.user-info__data-button {
  max-width: 38px;
  max-height: 18px;
  margin-top: 24px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.user-info__data-button:focus {
  outline-color: greenyellow;
}
