.image-zoom__content{
  margin:auto;
  max-width: 80vw;
  max-height: 80vh;
  /*background-color: #fff;*/
  position: relative;
  box-sizing: border-box;
  /*padding: 34px 36px;*/
}

@media screen and (max-width: 540px) {
  .image-zoom__content {
    width: calc(100% - 60px);
  }
}
